<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.tracecompass.training.example.Activator">
      </startup>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.training.example.ProcessingTimeAnalysis"
            automatic="true"
            id="org.eclipse.tracecompass.training.example.processing.module"
            name="Processing Analysis">
         <tracetype
               class="org.eclipse.tracecompass.lttng2.ust.core.trace.LttngUstTrace">
         </tracetype>
      </module>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.training.example.processing.states">
         <analysisModuleClass
               class="org.eclipse.tracecompass.training.example.ProcessingTimeAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.training.example.processing.values.line">
         <analysisModuleClass
               class="org.eclipse.tracecompass.training.example.ProcessingTimeAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.training.example.processing.values.scatter">
         <analysisModuleClass
               class="org.eclipse.tracecompass.training.example.ProcessingTimeAnalysis">
         </analysisModuleClass>
      </output>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.tracecompass.training.example.ProcessingStatesView"
            id="org.eclipse.tracecompass.training.example.processing.states"
            name="Processing States"
            restorable="true">
      </view>
      <view
            class="org.eclipse.tracecompass.training.example.processing.views.ProcessingValuesLineView"
            id="org.eclipse.tracecompass.training.example.processing.values.line"
            name="Processing Values Line"
            restorable="true">
      </view>
      <view
            class="org.eclipse.tracecompass.training.example.processing.views.ProcessingValuesScatterView"
            id="org.eclipse.tracecompass.training.example.processing.values.scatter"
            name="Processing Values Scatter"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.dataprovider">
      <dataProviderFactory
            class="org.eclipse.tracecompass.training.example.ProcessingStatesDataProviderFactory"
            id="org.eclipse.tracecompass.training.example.dataprovider.processing.states">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.training.example.ProcessingValuesScatterDataProviderFactory"
            id="org.eclipse.tracecompass.training.example.dataprovider.processing.values.scatter">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.training.example.ProcessingValuesLineDataProviderFactory"
            id="org.eclipse.tracecompass.training.example.dataprovider.processing.values.line">
      </dataProviderFactory>
   </extension>
</plugin>
